@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

nav {
    background-color: #0E0F10;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}

nav h1 {
    font-size: 1.8em;
    color: whitesmoke;
}

.nav-links a {
    text-decoration: none;
    margin: 0px 10px;
    font-size: 1.2em;
    color: whitesmoke;
}

.nav-links a:hover {
    color: rgb(206, 205, 205);
}

nav button {
    background-color: rgba(128, 128, 128, 0.507);
    margin-left: 10px;
    padding: 3px 37px;
    border-radius: 20px;
    border: none;
    font-size: 1.2em;
    color: whitesmoke;
    cursor: pointer;
}

nav button:hover {
    background-color: rgba(128, 128, 128, 0.301);
}

header {
    height: 65vh;
    width: 100%;
    background-color: #0E0F10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header h1 {
    font-size: 4em;
    color: whitesmoke;
}

header p {
    font-weight: bold;
    font-size: 1.3em;
}

header button {
    margin-top: 20px;
    border-radius: 25px;
    padding: 15px 60px;
    font-weight: bold;
    color: whitesmoke;
    border: none;
    background-color: purple;
    font-size: 1.3em;
}

header button:hover {
    background-color: rgb(92, 10, 92);
    cursor: pointer;
    transition: .5s;
}

.areas {
    background-color: #0E0F10;
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.front-end {
    height: 300px;
    width: 300px;
    background-color: rgba(128, 128, 128, 0.082);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}

.front-end h1 {
    color: whitesmoke;
}

.front-end:hover {
    background-color: rgba(128, 128, 128, 0.205);
    cursor: pointer;
}

.front-end img {
    height: 100px;
    width: 100px;
}

.back-end {
    height: 300px;
    width: 300px;
    background-color: rgba(128, 128, 128, 0.082);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}

.back-end h1 {
    color: whitesmoke;
}

.back-end:hover {
    background-color: rgba(128, 128, 128, 0.205);
    cursor: pointer;
}

.back-end img {
    height: 100px;
    width: 100px;
}

.mobile {
    height: 300px;
    width: 300px;
    background-color: rgba(128, 128, 128, 0.082);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}

.mobile h1 {
    color: whitesmoke;
}

.mobile:hover {
    background-color: rgba(128, 128, 128, 0.205);
    cursor: pointer;
}

.mobile img {
    height: 90px;
    width: 90px;
}

.opcoes {
    height: 50vh;
    width: 100%;
    background-color: #0E0F10;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.escolha {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.escolha h2 {
    color: #F4CF0B;
    font-weight: bold;
    margin-top: 10px;
}

.escolha img {
    height: 100px;
    width: 100px;
}

.desenvolva img {
    height: 100px;
    width: 100px;
}

.desenvolva {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.desenvolva h2 {
    color: #F4CF0B;
    font-weight: bold;
    margin-top: 10px;
}

.compartilhe img {
    height: 100px;
    width: 100px;
}

.compartilhe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.compartilhe h2 {
    color: #F4CF0B;
    font-weight: bold;
    margin-top: 10px;
}

.notificado {
    height: 50vh;
    width: 100%;
    background-color: #0E0F10;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.notificado img {
    height: 300px;
    width: 300px;
    margin-left: 20px;
}

.notificado-txt {
    margin-left: -180px;
}

.notificado-txt h1 {
    margin-top: -50px;
    color: whitesmoke;
    font-size: 2em;
}

.notificado-txt p {
    color: #F4CF0B;
}

.notificado-inputs {
    margin-top: 10px;
}

.notificado-inputs input {
    padding: 15px 5px;
    width: 60%;
    outline: none;
    border-radius: 15px;
    border: none;
}

.notificado-inputs button {
    margin-top: 10px;
    width: 60%;
    padding: 15px 25px;
    background-color: purple;
    font-weight: bold;
    color: whitesmoke;
    border: none;
    border-radius: 20px;
    font-size: 1.3em;
}

.notificado-inputs button:hover {
  background-color: rgb(109, 15, 109);  
  cursor: pointer;
  transition: .5s;
}

footer {
    height: 100px;
    background-color: #1A1C1F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
}

footer h1 {
    color: whitesmoke;
    font-size: 1.3em;
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
}

.instagram img {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.discord img {
    height: 20px;
    width: 25px;
    cursor: pointer;
}

.twitter img {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.github img {
    height: 20px;
    width: 20px;
    cursor: pointer;
}